body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
}

input,
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #1e293b;
  border-top: 5px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* AUTH UI */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.auth-card {
  background: rgba(30, 41, 59, 0.8);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #1d4ed8;
}

.auth-link {
  text-align: center;
  margin-top: 15px;
}

.auth-link span {
  color: #60a5fa;
  cursor: pointer;
}
